venv
.env
*.pyc
.idea
*.egg-info
dist
setup.py
.eggs
.emacs*
*.key
*.crt
*.csr
*.pem
.installed
.pytest_cache
coverage.xml
.coverage
test-report.xml
htmlcov
pylint-report.txt
sonar-project.properties
.vscode
*.arw
*.ARW
tmp/
